body{
    background-color: black;
    margin: 0;
}

.title{
    color: rgb(177, 253, 0);
    font-size: 20rem;
    text-shadow: 20px 20px 100px rgb(123, 255, 0);
}

.warning{
    color: rgb(212, 21, 21);
    margin-left: 5rem;
    margin-top: 10rem;
    font-size: 2rem;
}

.description{
    color: rgb(255, 255, 255);
    margin-left: 31rem;
    margin-top: 15rem;
    margin-bottom: -20rem;
    font-size: 1rem;
}

.link{
    color: rgb(119, 0, 255);
    font-size: 3rem;
    margin-top: 40rem;
    margin-left: 32rem;
    text-shadow: 20px 100px 100px rgb(140, 0, 255);
}

.jovani img{
    width: 50%;
    height: 50%;
    margin-top: -13.5rem;
    margin-left: 50rem;
}

.hands{
    margin-top: -30rem;
    margin-left: 30rem;
}

.hands img{
    width: 20%;
}
